:root {
  --primary-300: hsl(225, 100%, 94%);
  --primary-600: hsl(245, 75%, 52%);
  --primary-600-t25: hsla(245, 75%, 52%, 0.25);
  --primary-600-active: hsl(244, 82%, 68%);
  --neutral-300: hsl(225, 100%, 98%);
  --neutral-600: hsl(224, 23%, 55%);
  --neutral-600-t25: hsl(224, 23%, 55%, 0.25);
  --neutral-900: hsl(223, 47%, 23%);
  font-size: 62.5%;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
}

body {
  font: 1.6rem "Red Hat Display", sans-serif;
  margin: 0;
}

/* Utils */
.text-center {
  text-align: center;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Block main */

.main {
  background: url(/images/pattern-background-mobile.svg) no-repeat,
    var(--primary-300);
}

@media screen and (min-width: 90em) {
  .main {
    background: url(/images/pattern-background-desktop.svg) no-repeat,
      var(--primary-300);
  }
}

/* Block card */

.card {
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  width: 32.7rem;
  box-shadow: 0 15px 20px 0 var(--neutral-600-t25);
}

.card__content {
  margin: 0 2.4rem;
}

.card__title {
  color: var(--neutral-900);
  font-size: 2.2rem;
  font-weight: 900;
  margin: 3.2rem 0 0 0;
}

.card__description {
  color: var(--neutral-600);
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 1.7rem 1rem 0 1rem;
}

.card__plan {
  display: grid;
  align-items: center;
  grid-template: 1fr 1fr / 4.8rem 1fr 60px;
  gap: 0.2rem 1.9rem;

  background-color: var(--neutral-300);
  border-radius: 1rem;
  height: 8.2rem;
  margin: 2.3rem 0 0 0;
  padding: 1.6rem;
}

.card__plan-img {
  grid-area: 1 / 1 / 3 / 2;
}

.card__plan-name {
  grid-area: 1 / 2 / 2 / 3;
  align-self: end;
  color: var(--neutral-900);
  font-size: 1.4rem;
  font-weight: 900;
  padding: 0.1rem;
}

.card__plan-price {
  align-self: start;
  color: var(--neutral-600);
  font-size: 1.4rem;
  padding: 0.1rem;
}

.card__plan-change-link {
  grid-area: 1 / 3 / 3 / 4;
  font-size: 1.2rem;
  font-weight: 900;
  justify-self: center;
  padding: 0 0 0 1rem;
}

.card__plan-change-link:hover {
  color: var(--primary-600-active);
}

.card__proceed {
  display: block;
  background-color: var(--primary-600);
  border-radius: 1.1rem;
  border: none;
  box-shadow: 0 15px 20px 0 var(--primary-600-t25);
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  height: 5rem;
  margin: 2.3rem 0 0 0;
  width: 100%;
}

.card__proceed:hover {
  background-color: var(--primary-600-active);
}

.card__cancel {
  display: block;
  color: var(--neutral-600);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 5rem;
  margin: 0.8rem 0 1.7rem 0;
}

.card__cancel:hover {
  color: var(--neutral-900);
}

@media screen and (min-width: 90em) {
  .card {
    width: 45rem;
  }

  .card__content {
    margin: 0 4.8rem;
  }

  .card__title {
    font-size: 2.8rem;
    margin-top: 4.6rem;
  }

  .card__description {
    font-size: 1.6rem;
  }

  .card__plan {
    height: 10rem;
    margin: 2rem 0 0 0;
    padding: 2.4rem;
  }

  .card__plan-name {
    font-size: 1.7rem;
  }

  .card__plan-price {
    font-size: 1.7rem;
  }

  .card__plan-change-link {
    font-size: 1.4rem;
  }

  .card__proceed {
    margin: 3.1rem 0 0 0;
  }

  .card__cancel {
    margin: 1.8rem 0 3.2rem 0;
  }
}
